<?xml version="1.0"?>
<phpunit
	bootstrap="bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="project">
			<directory prefix="class-test-" suffix=".php">../../../../tests/</directory>
			<directory prefix="test-" suffix=".php">../../../../tests/</directory>
			<directory suffix="-test.php">../../../../tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
